@import url("./reset.css");

:root {
  --dark-blue: #0d85da;
  --blue: #0074E0;
  --links: #55adff;
  --dark: #232323;
  --gray: #e5e5e5;
  --light: #ffffff;
}

html {
  scroll-behavior: smooth;
  overflow-y: auto;
}

body {
  background: var(--dark);
  overflow: hidden;  
}
