nav.navlist {
  @media (max-width: 53.75rem) {
    display: none;
  }
  color: var(--light);
  position: fixed;
  top: 5.3125rem;
  left: 0rem;
  margin: 1.25rem;
  user-select: none;
  ul {
    display: grid;
    grid-template-rows: repeat(4, 2.5rem);
    grid-template-columns: 0.625rem 1fr;
    border-left: 0.125rem solid var(--blue);
    font-weight: 200;
    gap: 1.25rem;
    div.nav_indicator {
      width: 0.25rem;
      height: 2.5rem;
      background: var(--blue);
      grid-column: 1;
      transition: .1s;
      position: relative;
      top: 0rem;
      
    }
    li {
      grid-column: 2;
      align-self: center;
      transform: translateX(-0.625rem);
      a:any-link {
        color: var(--light);
        text-decoration: none;
      }
    }
  }
}
