article.main {
  padding-top:4rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f0ffff1f;
  position: relative;
  border-radius: 0.625rem;
  section.section {
    width: calc(100% - 6rem);
    max-width: 90rem;
    @media (min-width: 48rem) {
      display: grid;
      grid-template-rows: min-content min-content;
      min-height: 60vh;
      gap: var(--gap);
    }
    margin: var(--gap);
    & > header {
      grid-row: 1;
      grid-column: 1 / span 2;
      h1,
      h2 {
        color: var(--gray);
        font-weight: 600;
        line-height: 1;
        font-size: 4rem;
      }
      & > h2 {
        border-bottom: 0.75rem solid var(--blue);
        display: block;
        max-width: fit-content;
        padding-bottom: 0.3125rem;
      }
    }
    @media (max-width: 68.75rem) {
      width: calc(100vw - (var(--gap) * 2));
    }
    .resume_page {
      font-size: clamp(2rem, 5cqw, 4rem);
      margin: var(--gap) 0 0 0;
      text-align: left;
    }
    .image {
      width: 100%;
      height: auto;
      margin: var(--gap) auto 0rem;
    }
    .contact_items {
      max-width: 60dvw;

      div {
       &:first-of-type {
        margin-top: var(--gap);
       }
       margin-bottom: 2rem;
        font-size: clamp(1rem, 5cqw, 4rem);
        color: var(--light);
        a {
          color: var(--light);
          text-decoration: none;
        }
        a:hover,
        a:focus {
          color: var(--links);
        }
      }
    }
  }
}
