article.main {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: 90rem) {
    width: 90rem;
    margin: 6.25rem auto;
  }
  background: #f0ffff1f;
  position: relative;
  border-radius: 0.625rem;

  section.section {
    word-wrap: break-word;
    &:nth-of-type(3) {
      a:any-link {
        text-align: center;
        color: #fff;
        text-decoration: none;
      }
      &:nth-of-type(3),
      &:nth-of-type(4) {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 1.25rem !important;
        a {
          display: flex;
          gap: 2.5rem;
          flex-direction: column;
          justify-content: center;
          // align-items: center;
        }
        div {
          display: inherit;
          gap: inherit;
          @media (max-width: 43.125rem) {
            flex-direction: column;
          }
        }

        img {
          // margin: 0.625rem;
          // width: calc(100% - 2.5rem);
          @media (min-width: 43.125rem) {
            width: 50%;
          }
          height: auto;
        }
      }
    }

    @media (max-width: 83.5625rem) {
      &:nth-of-type(3),
      &:nth-of-type(4) {
        width: 100%;
        max-width: 40rem;
        margin: 1.25rem !important;
        .contact_items {
          margin: 0rem 1.25rem;
        }
        div {
          img {
            margin: 0 auto;
            width: calc(100% - 2.5rem);
            height: auto;
          }
        }
      }
    }
    &:last-of-type {
      padding-bottom: 6.25rem;
      min-height: auto !important;
      height: auto;
    }

    @media (min-width: 83.5625rem) {
      max-width: 82.5rem;
      display: grid;
      justify-content: flex-start;
      width: 100%;
    }
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    padding: 6.25rem 0rem 0rem;
    gap: 2.5rem;
    header {
      grid-row: 1;
      @media (max-width: 42.5rem) {
        &.title {
          margin-left: 1.25rem;
          & + a > img {
            margin-left: 1.25rem;
          }
        }
      }
    }

    .contact_items {
      div {
        margin-bottom: 1.875rem;
        font-size: 2rem;
        color: var(--light);
        a:any-link {
          color: var(--links);
          text-decoration: none;
        }
      }
    }
  }

  header {
    grid-column: 1 / span 2;
    grid-row: 1;

    h1,
    h2 {
      color: var(--gray);
      font-weight: 600;
      line-height: 1;
      font-size: 4rem;
    }
  }
}

.contact_items {
  max-width: 60dvw;
}
